#mainNavBar {
    /*image options:
    background-image: url("../images/lake-superior-2093792_1920.jpg");
    background-position: 0% 50%; 

    background-image: url("../images/bwca-1150305_1920.jpg");
    background-position: 0% 20%;

    background-image: url("../images/minneapolis-926411_1920.jpg");
    background-position: 0% 25%;

    */
    background-color: #515f7a;
}

#mapContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

html, body {
      padding: 0;
      margin: 0;
      height: 100%;
    }

#optionsToggle {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

#optionsButton {
  background-color: transparent;
  color: white;
  border-color: white;
  float: right;
  margin-right: 10px;
}

#optionsMenu {
  z-index: 999;
  position: relative;
  top: 0;
  float: right;
  margin-right: 10px;
  margin-top: 65px;
  width: 300px;
  padding: 0;
  background-color: #fff;
  box-shadow: 0px 1px;
}

#dataFilters {
  position: relative;
  margin-bottom: 0;
  background-color: #3a4357;
}

.panel-heading.panelTitle {
  background-color: #515f7a;
  border-color: white;
  color: white;
}

.filterCategory {
  padding: 0;
}

.subOptions {
  margin-left: 0;
}

.timeForm {
  padding-bottom:10px;
}

.subGroup {
  padding-left: 10px;
  padding-top: 8px;
}

.appName {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

a.appName {
  color: white;
  font-size: 20px;
}

a.appName:hover {
  color: #e8e6e4;
  font-size: 20px;
  text-decoration: none;
}

.container.leftContainer {
  width: 40%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  position: absolute;
  left: 0px;
  height: 100%;
  padding: 0px;
}

.navbar.titleNavBar {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); 
  position: relative;
  margin: 0px;
}

.navbar-brand.titleNavBar {
  font-size: 160%;
  color: #000;
  height: 0%;
  line-height: 100%;
  padding: 10px;
}

.nav-link.customNavTabs {
  color: #000;
  font-size: 110%;
}

.nav-tabs > li {
  float: none;
  display:inline-block;
  zoom:1;
}

.nav-tabs {
  text-align: center;
}

#searchNavDiv {
  background-color: transparent;
  color: white;
  border-color: white;
}
